.App {
  text-align: center;
  background: #334d50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

blockquote {
  padding: auto;
}

button {
  padding: auto;
  margin: auto;
}

footer {
  position: bottom;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: white;
}
